body {
    background-image: url("../images/wallpaper.jpg");
}
#logo {
    border-radius: 50%;
}
#navLogo {
    border-radius: 50%;
}
.recipe{
    background-color: lightslategray;
    padding: 10px;
    margin: 10px;
}