body {
    background-image: url("../images/wallpaper.jpg");
}
#logo {
    border-radius: 50%;
}
#navLogo {
    border-radius: 50%;
}
.recipe{
    background-color: #eecf70;
    padding: 10px;
    margin: 10px;
    color: black
}
.sammy{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1em;
}