body {
    background-image: url("../images/wallpaper.png");
}
#logo {
    border-radius: 50%;
}
#navLogo {
    border-radius: 50%;
}
.recipe{
    background-color: #eecf70;
    padding: 10px;
    margin: 10px;
    color: black;
}
#feed{
    opacity: 95%
}